body,
html {
  background-color: rgb(13, 61, 61);
  /* overflow: scroll; */
  margin: auto;
}

table {
  max-width: 96%;
}

#container {
  background-color: rgba(255, 255, 255, 0.582);
  position: absolute;
  margin: 10%;
  margin-top: 0;
  min-width: 80%;
  max-width: 80%;
  min-height: 100%;
  /* overflow-y: auto; */
}

#container > div,
#container > table {
  margin: 15px;
}

#container .poster {
  max-width: 30%;
  float: left;
  margin: 15px;
}

/* WILL DELETE IF CONTINUE WITH FLEX RESIZE */
#container .card {
  text-align: center;
  max-width: 46%;
  margin: 5px;
}
/*  */

#top10 {
  flex-wrap: wrap;
  display: flex;
  max-height: 90vh;
  max-width: 90%;
  align-self: flex-start;
  overflow-y: scroll;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

#bottom10 {
  flex-wrap: wrap;
  display: flex;
  max-height: 90vh;
  max-width: 90%;
  align-self: flex-start;
  overflow-y: scroll;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.topmovies {
  text-align: center;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 5vh 90vh;
  max-height: 95vh;
  /* padding: auto; */
}

.menu-bars {
  margin-left: 1rem;
  font-size: 2rem;
  background: none;
  position: fixed;
}

.nav-bars {
  margin-top: 10px;
  margin-left: 2.5%;
  font-size: 3rem;
  background: none;
  position: fixed;
}

.nav-menu {
  background-color: rgb(80, 80, 80);
  width: 200px;
  height: 100vh;
  display: flex;
  position: fixed;
  top: 0;
  left: -100%;
  transition: 850ms;
  z-index: 2;
}

.nav-menu.active {
  left: 0;
  transition: 350ms;
  z-index: 2;
}

.nav-text {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 2px 0px 2px 0px;
  list-style-type: none;
  height: 30px;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.nav-text a {
  text-decoration: none;
  color: black;
  font-size: 18px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0px 16px;
  border-radius: 4px;
}

.nav-text a:hover {
  background-color: red;
}

.nav-menu-items {
  width: 100%;
}

.navbar-toggle {
  background-color: rgb(75, 173, 173);
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
}

span {
  margin-left: 5px;
}
/* MAKE BACK BUTTON NOT OVERLAY SIDE BAR */
.back {
  display: static;
  color: rgb(0, 0, 0);
}

.form div {
  margin: 5px;
}

.iframe {
  margin-top: 50px;
  text-align: center;
}

/* Carousel styles */
.carousel__container {
  height: 39%;
  text-align: center;
  overflow: auto;
}

.button {
  min-width: 45%;
}

.carousel__slider {
  padding-left: 5%;
  padding-right: 5%;
}

/* gives us the illusion of spaces between the slides */
.carousel__inner-slide {
  width: calc(100% - 20px);
  height: calc(100% - 20px);
  left: 10px;
  top: 10px;
}

.titlepage {
  height: 60%;
  /* border: solid black 1px; */
  text-align: center;
  padding-top: 15%;
}

.home {
  font-size: 25rem;
}
